.feature-container{
    margin: auto;
    padding:0px 20px 30px 20px;
}
.features{
    background-color: #2b1e16;
}
 .features .feature-container{
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
} 
@media (min-width:900px){
    .features .feature-container{
        justify-content: space-between;
    }
}