h2{
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left:100px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    color: white;
}
.footerMid .container{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
@media (max-width:900px){
    .footerMid .container{
        justify-content: space-between;
    }
    .footerMid .container ul{
        min-width: 25ch;
        padding-left: 10px;
    }
}
