.single-feature{
    text-align: center;

}
@media (min-width:900px){
    .single-feature{
        padding-top: 0px;
    }
}
.single-feature img{
    height: 250px;
    padding-bottom: 30px;
}
.single-feature h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.single-feature p{
    color: #e0cbc1;
    font-size: 15px;
    width: 260px;
    line-height: 1.3;
}