.container{
    margin: auto;
    padding: 10px 30px 60px 30px;
}
.features{
    background-color: #2b1e16;
}
 .features .container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
} 
@media(min-width:900px){
    .features .container{
        justify-content: space-between;
    }
}
